#font {
    font-family: 'Tourney', cursive;
    color: rgb(9, 77, 104);
}

h1 {
    font-family: 'Zen Tokyo Zoo', cursive;
    color: #00520e;
    font-size: 45px;
}

h3 {
    font-family: 'Lobster', cursive;
    color: rgb(167, 78, 14);
    font-size: 25px;
}

p {
    font-size: 18px;
    color: rgb(13, 73, 40);
}

.maintain {
    width: 50%;
    padding-left: 4%;
}

img {
    height: 500px;
    padding: 35px 10px 35px 70px;
}

.button {
    color: springgreen;
    text-decoration: none;
    background-image: linear-gradient(rgb(12, 71, 128), rgb(9, 109, 122));
    padding: 12px 40px;
    border-radius: 10px;
    font-weight: 800;
}

section {
    display: flex;
}